<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlintsXBinar</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class = "img-container">
        <a href="ilham"><img src="./download.jpeg" alt="Who Are you ?"></a>
    </div>
    
</body>
</html>