<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <h1>Hello World</h1>
    <h2>I'm Muhammad Ilham Maulana</h2>
    <img src="./images/stonks.jpg" alt="STONKS">
</body>
</html>